html {
  background-color: #212529;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212529;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #14161a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
