html {
  background-color: #121212;
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2a2a2a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #121212;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #191919;
}

.bg-darkC {
  background-color: #121212;
}
